@charset "utf-8";
/* CSS Document */

#banner {
	background-color:#93F3E8;
	text-align:center;
}

#nav_bar {
	background-color:#C1F896;
	text-align:center;
	
}

#content {
	font-size: 24px;
	text-align: left;
}

#footer{
	text-align: center;
	font-size: 18px;
	font-style: italic;
}

body {
	background-color:#FBF0F1;
}